/* Ensure the body fills the space between header and footer */
.body-container {
  min-height: calc(100vh - 60px - 80px);
  min-width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 80px 20px 40px 20px;
  background-color: #f5f5f5;
  color: #333;
  box-sizing: border-box;
  align-items: center;
}
